body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Franklin Gothic Book","Calibri","Bodoni", Helvetica, Arial;
}
.background-white {
  background-color: white;
  background: cover;
  box-sizing: border-box;
  background-position:center;
}
.text-headline {
  flex: auto;
  text-align: center;
  color: rgb(91, 91, 91);
  font-size: 37px;
}

.container {
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper {
  position:relative;
  margin:20px;
}

.arc {
  position:absolute;
  top:0;
  left:0;
  margin-top: -20px;
  margin-left: -23px;
  width:170px;
  height:170px;
  border-radius:100%;
  border:22px solid;
}

.arc_start1 {
  border-color:  rgb(79, 91, 119) transparent transparent transparent;
  transform: rotate(275deg);
}

.arc_end1 {
  border-color:  rgb(79, 91, 119) transparent transparent transparent;
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transform: rotate(275deg);
}

.arc_start2 {
  border-color: rgb(129, 149, 169) transparent transparent transparent;
  transform: rotate(275deg);
}

.arc_end2 {
  border-color:  rgb(129, 149, 169) transparent transparent transparent;
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transform: rotate(275deg);
}

.arc_start3 {
  border-color:  rgb(127, 127, 127) transparent transparent transparent;
  transform: rotate(275deg);
}

.arc_end3 {
  border-color:  rgb(127, 127, 127) transparent transparent transparent;
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transform: rotate(275deg);
}

.arc_start4 {
  border-color: rgb(58, 123, 154) transparent transparent transparent;
  transform: rotate(275deg);
}

.arc_end4 {
  border-color: rgb(58, 123, 154) transparent transparent transparent;
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transform: rotate(275deg);
}

.name {
  font-size: 12px;
  text-align: center;
}

.job-position {
  margin-top: -10px;
  color: rgb(119, 117, 117) ;
  font: "arial";
  font-size: 10px;
  font: normal;
  text-align: center;
}

.container-text {
  width: 150px;
}  

.container-divider {
  width: 150px;
  position: relative;
  padding-top: -300px;
}  

.line-divider {
  display: flex;
  position: center;
  width: 80px;
  margin-left: 40px; 
}

.name1 {
  color:  rgb(79, 91, 119);
}

.name2 {
  color:  rgb(129, 149, 169);
}

.name3 {
  color:  rgb(127, 127, 127);
}

.name4 {
  color:  rgb(58, 123, 154);
}

.job-description {
  font-size: 12px;
  color: rgb(119, 117, 117);
  text-align: center;
}

img {
  border-radius: 50%;
  margin: -2px;
}

.img-round1 {
  border:4px solid rgb(79, 91, 119);
}

.img-round2 {
  border:4px solid rgb(129, 149, 169);
}

.img-round3 {
  border:4px solid rgb(127, 127, 127);
}

.img-round4 {
  border:4px solid rgb(58, 123, 154);
}

.email-CodeUp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  color:  rgb(91, 91, 91);
  font-size: 15px;
  /* /* padding: 0px 0px 100px 0px; */
  margin: 0px 0 0 100px; */
  font: bold;
}


